NEXTAUTH_URL=
NEXTAUTH_SECRET=

NEXT_PUBLIC_CONVEX_URL=
CONVEX_DEPLOYMENT=
ADMIN_API_TOKEN=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_SETUP_TOKEN=

NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_APP_URL=http://localhost:3000

UPLOADTHING_TOKEN=
